<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
    <ion-button (click)="clearFavorites()" color="danger" slot="end" style="margin-right: 15px;">
      <ion-icon name="trash"></ion-icon>All
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let favorite of favorites">
      <ion-grid>
        <ion-row>
          <!-- Kolom pertama untuk gambar -->
          <ion-col size="2" *ngIf="favorite.article.urlToImage">
            <img src="{{ favorite.article.urlToImage }}" />
          </ion-col>
          <!-- Kolom kedua untuk deskripsi -->
          <ion-col size="6">
            <ion-label>
              <h1>{{ favorite.article.title }}</h1>
              <p>{{ favorite.article.description }} <span><a href="{{ favorite.article.url }}" target="_blank" color="primary">Read More..</a></span></p>
              <p style="margin-top: 10px;">Ditambahkan pada: {{ getFormattedDate(favorite.timestamp) }}</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button color="danger" (click)="removeFromFavorites(favorite)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
