<ion-header>
  <ion-toolbar>
    <ion-row style="justify-content: space-between">
      <ion-title>
        News Category
      </ion-title>
      <ion-buttons>
        <ion-searchbar style="margin-top: 12px;" debounce="500" (ionInput)="searchNews($event)" mode="ios"></ion-searchbar>
      </ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="selectedCategory" (ionChange)="onCategoryChange()">
    <ion-segment-button *ngFor="let category of categories" [value]="category">
      {{ category | titlecase }}
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ng-container *ngFor="let article of articles">
    <ion-item *ngIf="article.urlToImage && article.title && article.description">
      <ion-thumbnail slot="start">
        <img [src]="article.urlToImage">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
        <ion-button size="small" style="font-size: 10px;" href="{{ article.url }}" target="_blank">Read more..</ion-button>
        <ion-button style="font-size: 10px;" (click)="save(article)">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ng-container>
  </ion-list>
</ion-content>
